extends layout

include _includes/sharedHTMLfunctions

block content

  // Page header that fills entire width, containing a column that limits text
  // width to six columns on large screens for readability
  #banner.page-header
    .row
      .col-lg-6
        // the = signifies that the content is buffered code
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
          // #{} delimiters are used to insert data into a specific place
  .row
    // Container for list of locations, spanning all twelve columns on
    // extra-small devices and eight columns on small devices and larger
    .col-xs-12.col-sm-8
      // Add a div into main content area and have it display message if one
      // is sent
      .error= message
      // Set up a Bootstrap list group and create a single item spanning full
      // twelve columns
      .row.list_group
        each location in locations
          .col-xs-12.list_group_item
            h4
              a(href="/location/#{location._id}")= location.name
              small &nbsp;
                +outputRating(location.rating)
              // Distance to location
              span.badge.pull-right.badge-default= location.distance
            // Address of locaiton
            p.address= location.address
            p
              // Location facilities
              each facility in location.facilities
                span.label.label-warning= facility
                &nbsp;
    // Container for secondary or sidebar information, spanning all twelve
    // columns on extra-small devices and four columns on small devices and
    // larger
    .col-xs-12.col-sm-4
      p.lead= sidebar
